@import "sass-variables.scss";

.panel {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  box-shadow: $box-shadow;
  max-width: 800px;
  margin: 0 auto 15px;
}
