@import "sass-variables.scss";

.prediction_table {
  display: flex;
  justify-content: center;
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  [data-drop-target] {
    height: 30px;
  }
  [data-dragging] {
    opacity: 0.3;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.prediction_table_row {
  background-color: #edf1f4;
  cursor: grab;
  td {
    padding: 5px 5px;
    border: none;
    background-color: white;
    height: 30px;
  }
  td:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
  }
  td:last-child {
    border-radius: 0 5px 5px 0;
    text-align: left;
    padding-right: 15px;
  }
}

.drag_preview {
  background: red;
  width: 150px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  color: white;
  border-radius: 4px;
}

.tab {
  height: 100%;
  width: 5px;
  border-radius: 10px;
  background-color: black;
  display: block;
}
