$primary-color: white;
$secondary-color: #00001b;
$tertiary-color: #edf1f4;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$header-width-desktop: 260px;
$header-width-tablet: 220px;
$header-height-mobile: 70px;

$tablet-menu-breakpoint: 700px;
$mobile-menu-breakpoint: 600px;
