.example_con {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.example {
  min-width: 220px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: center;
  }
  table {
    margin: 0 auto;
  }
  tr:last-child,
  tr:first-child {
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
  tr:last-child {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  tr:first-child {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

@media (max-width: 800px) {
  .example_con {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
