@import "@styles/sass-variables.scss";

.prediction_table {
  display: flex;
  justify-content: center;
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  [data-drop-target] {
    height: 30px;
  }
  [data-dragging] {
    opacity: 0.3;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.prediction_table_row {
  cursor: grab;
  td {
    padding: 5px 5px;
    border: none;
    background-color: $primary-color;
    height: 30px;
  }
  td:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
  }
  td:last-child {
    border-radius: 0 5px 5px 0;
    text-align: left;
    padding-right: 15px;
  }
}

.tab {
  height: 100%;
  width: 5px;
  border-radius: 10px;
  background-color: black;
  display: block;
}
