$primary-color: white;
$secondary-color: #010136;
$tertiary-color: #edf1f4;
$quaternary-color: #d4d4d4;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

//Possible dark mode values
// $primary-color: #012c4e;
// $secondary-color: #b8dfd8;
// $tertiary-color: #011627;
// $quaternary-color: #0d65b3;
// $box-shadow: rgb(255, 255, 255) 0px;

$error-color: red;
$success-color: green;

$header-width-desktop: 260px;
$header-width-tablet: 220px;
$header-height-mobile: 70px;

$tablet-menu-breakpoint: 700px;
$mobile-menu-breakpoint: 600px;
$small-mobile-menu-breakpoint: 400px;

$round-slider-height: 91px;
