$header-width-desktop: 260px;
$header-height-mobile: 70px;
$footer-height-mobile: 148px;

$tablet-menu-breakpoint: 800px;
$mobile-menu-breakpoint: 700px;
$small-mobile-menu-breakpoint: 400px;

$round-slider-height: 91px;
