.mer {
  background-color: #00d2be;
}
.fer {
  background-color: #dc0000;
}
.rbr {
  background-color: #00327d;
}
.alp {
  background-color: #007acc;
}
.has {
  background-color: black;
}
.mcl {
  background-color: #ff8700;
}
.ast {
  background-color: #00584f;
}
.alf {
  background-color: #9b0000;
}
.alt {
  background-color: #203a54;
}
.wil {
  background-color: #00a0de;
}
