@import "@styles/sass-variables.scss";

.feedback {
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 20px;
  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: $box-shadow;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  &:after {
    position: absolute;
    width: 10px;
    left: 0;
    height: 100%;
    content: "";
  }
  &.error:after {
    background-color: $error-color;
  }
  &.success:after {
    background-color: $success-color;
  }
  ul {
    margin-left: 10px;
  }
}

.feedbackText {
  margin-top: 15px;
}

.error .icon {
  color: $error-color;
}
.success .icon {
  color: $success-color;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
