@import "@styles/sass-variables.scss";

.prediction_table {
  .heading {
    text-align: center;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  button {
    background-color: transparent;
    border: none;
  }
  th {
    padding: 0 5px 5px;
    text-align: left;
  }
  th:first-child {
    padding-left: 10px;
    text-align: center;
  }
  th:last-child {
    padding-right: 10px;
  }
  .accuracy {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
  }
}

.table_row {
  td {
    padding: 5px 5px;
    border: none;
    background-color: $primary-color;
    height: 30px;
  }
  td:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
  }
  .name_cell {
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
  }
}

.flair {
  height: 100%;
  width: 5px;
  border-radius: 10px;
  background-color: black;
  display: block;
}

.pos_diff_cell {
  text-align: right;
  width: 35px;
  height: 30px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-left: 8px;
  justify-content: flex-start;
  gap: 5px;
  i {
    border: solid $error-color;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
  }
  &.up i {
    transform: rotate(225deg) translate(-1px, -1px);
  }
  &.down i {
    transform: rotate(45deg) translate(-2px, -2px);
  }
  &.perfect svg {
    color: $success-color;
  }
}
.sName {
  display: none;
}

@media (max-width: 360px) {
  .name {
    display: none;
  }
  .sName {
    display: inline;
    text-transform: uppercase;
  }
}
