@import "@styles/sass-variables.scss";

.prediction_table {
  .heading {
    text-align: center;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 5px;
  }
  button {
    background-color: transparent;
    border: none;
  }
  th {
    padding: 0 5px 5px;
    text-align: left;
  }
  th:first-child {
    padding-left: 10px;
    text-align: center;
  }
  th:last-child {
    padding-right: 10px;
  }
  .accuracy {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
  }
}

.table_row {
  position: relative;
  height: 30px;
  td {
    padding: 5px 5px;
    border: none;
    background-color: var(--primary-color);
    height: 30px;
  }
  td:first-child {
    border-radius: 5px 0 0 5px;
    padding-left: 10px;
  }
  td:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
  }
  .position_cell {
    text-align: center;
  }
  .name_cell {
    padding-right: 10px;
    min-width: 105px;
    width: 100%;
  }
  .flag_cell {
    width: 34px;
  }

  .flag_con {
    width: 34px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border: 2px solid var(--tertiary-color);
    }
  }
  .pos_diff_cell {
    text-align: right;
    height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-left: 8px;

    justify-content: flex-start;
    gap: 5px;
    i {
      border: solid var(--error-color);
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
    }
    &.up i {
      transform: rotate(225deg) translate(-1px, -1px);
    }
    &.down i {
      transform: rotate(45deg) translate(-2px, -2px);
    }
    &.perfect svg {
      color: var(--success-color);
      height: 100%;
    }
  }
}

.flair {
  height: 100%;
  width: 5px;
  border-radius: 10px;
  background-color: black;
  display: block;
}

.sName {
  display: none;
}

@media (max-width: 750px) and (min-width: 600px) {
  .prediction_table {
    .name {
      display: none;
    }
    .sName {
      display: inline;
      text-transform: uppercase;
    }
    .name_cell {
      min-width: auto;
    }
  }
}

@media (max-width: 475px) {
  .prediction_table {
    width: 100%;
    table {
      width: 100%;
    }
    th {
      padding: 3px 0;
      span {
        display: none;
      }
    }
    .table_row {
      font-size: 14px;
      td {
        padding: 3px 3px;
      }
      td:first-child {
        padding-left: 7px;
      }
      td:last-child {
        padding-right: 7px;
      }
      .drag_cell {
        display: none;
      }
      .position_cell {
        max-width: 25px;
        border-radius: 5px 0 0 5px;
        padding-left: 10px;
      }
      .name_cell {
        min-width: auto;
      }
      .large_name {
        .name {
          display: none;
        }
        .sName {
          display: inline;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .prediction_table {
    .name {
      display: none;
    }
    .sName {
      display: inline;
      text-transform: uppercase;
    }
  }
}
