@import "@styles/sass-variables.scss";

.round_footer {
  border-radius: 5px;
  background-color: var(--primary-color);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  width: calc(100% - ($header-width-desktop + 30px));
  padding: 15px;
  margin: 15px auto;
  position: fixed;
  bottom: 0px;
  max-width: 100%;
  left: $header-width-desktop + 10px;
  right: 15px;
}
.con {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
}
.slider_footer {
  margin-top: 15px;
  position: relative;
}
.notch_con {
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 0;
  justify-content: space-between;
  padding-right: 11.5px;
  padding-left: 11.5px;
  margin-top: 0px;
  .notch {
    width: 2px;
    height: 10px;
    background-color: var(--secondary-color);
  }
}
.slider {
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: var(--quaternary-color);
  outline: none;
  margin-top: 10px;
  z-index: 1;
  position: relative;
}
.slider::slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}

@media (max-width: $mobile-menu-breakpoint) {
  .round_footer {
    position: sticky;
    width: 100%;
    margin: 10px auto 0;
    padding: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  .con h2 {
    font-size: 16px;
  }
  .slider {
    height: 5px;
    margin-top: 5px;
  }
  .notch_con .notch {
    width: 2px;
    height: 7px;
  }
}
