.entrantPredictions {
  .chart {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 1%;
    background-color: white;
  }
  .inputs {
    label {
      display: block;
      margin-bottom: 3px;
    }
  }
}
