@import "@styles/sass-variables.scss";

.single {
  max-width: 250px;
  margin: 0 auto;
}
.doubleCol,
.tripleCol {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  a {
    width: 100%;
  }
}
.doubleCol {
  flex-wrap: wrap;
  gap: 0 20px;
  align-items: center;
  justify-content: center;
  > a {
    width: calc(50% - 10px);
  }
}
@media (max-width: 800px) {
  .tripleCol {
    flex-direction: column;
    gap: 0;
    a {
      width: auto;
    }
  }
}
@media (max-width: $mobile-menu-breakpoint) {
  .doubleCol {
    flex-direction: column;
    gap: 0;
    > a {
      width: 100%;
    }
  }
}
