@import "@styles/sass-variables.scss";

.single {
  max-width: 250px;
  margin: 0 auto;
}
.double,
.triple {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  a {
    width: 100%;
  }
}
.quadruple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  align-items: center;
}
.double {
  max-width: 500px;
}
@media (max-width: 800px) {
  .triple {
    flex-direction: column;
    gap: 0;
    a {
      width: auto;
    }
  }
  .quadruple {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: $mobile-menu-breakpoint) {
  .double {
    flex-direction: column;
    gap: 0;
    a {
      width: auto;
    }
  }
}
