@import "@styles/sass-variables.scss";

.button {
  border: 1px var(--quaternary-color) solid;
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  color: var(--secondary-color);
  gap: 10px;
  font-weight: 500;
  &:not(.disabled):hover {
    translate: 0 -2px;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--primary-color);
  }
  &.disabled {
    color: rgba(var(--secondary-color), 0.5);
    cursor: not-allowed;
  }
  svg {
    min-height: 25px;
    min-width: 25px;
    height: 25px;
    width: 25px;
  }
  &.smallIcon svg {
    min-height: 15px;
    min-width: 15px;
    height: 15px;
    width: 15px;
  }
}
@media (max-width: $mobile-menu-breakpoint) {
  .button {
    width: 100%;
    min-width: auto;
  }
}
