.editable_prediction_table {
  table {
    margin: 0 auto;
    width: 100%;
  }
  tr.table_row {
    height: 33px;
    td {
      height: 33px;
    }
  }
  td {
    transform-origin: 50% 50%;
    touch-action: none;
    user-select: none;
  }
}
.single_entrant_type_table {
  border-spacing: 0px;
  tbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 5px;
  }
}
