@import "@styles/sass-variables.scss";

.submitPredictionsCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoCon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: $tablet-menu-breakpoint) {
  .predictionTableCon {
    order: 2;
  }
  .infoCon {
    order: 1;
  }
}
