@import "@styles/sass-variables.scss";
.con {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto ($round-slider-height + 15px);
  align-items: center;
  gap: 20px;
  &.table_mode {
    max-width: 600px;
    align-items: flex-start;
  }
}
.main {
  width: 100%;
}
.options {
  max-width: 150px;
  width: 100%;
}
.tables {
  display: flex;
  width: calc(100% - 150px);
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 800px) {
  .leaderboard_mode {
    .standings_table {
      display: none;
    }
  }
  .con {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .tables {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 600px) {
  button.switchEntrantTypeBtn {
    display: none;
  }
}

@media (max-width: 600px) {
  .switchEntrantTypeBtn {
    margin-top: 20px;
  }
}
@media (max-width: 380px) {
  .tables {
    gap: 10px;
  }
}
