@import "@styles/sass-variables.scss";
.con {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto ($round-slider-height + 15px);
  align-items: center;
}
.main {
  width: 100%;
}
