@import "@styles/sass-variables.scss";
.leaderboard {
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}
.table_row {
  cursor: pointer;
}
.position {
  text-align: center;
}
.position_diff {
  width: 25px;
  i {
    border: solid $secondary-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
}
.perfect_positions {
  max-width: 92px;
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
}
.pos_change i {
  transform: rotate(225deg) translate(-1px, -1px);
  border-color: $success-color;
}
.neg_change i {
  transform: rotate(45deg) translate(-2px, -2px);
  border-color: $error-color;
}
.no_change i {
  border-width: 0 0 3px 0;
  padding: 1.5px 5px;
  transform: translateY(-4px);
  opacity: 0.2;
}

@media (max-width: $small-mobile-menu-breakpoint) {
  .leaderboard {
    td,
    th {
      font-size: 14px;
    }
  }
}
@media (max-width: 333px) {
  .perfect_positions {
    display: none;
  }
}
