@import "@styles/sass-variables.scss";
.leaderboard {
  width: 100%;
  margin-bottom: 10px;
  svg {
    height: 20px;
    display: block;
    margin: 0 auto;
  }
  th {
    padding: 0 5px 5px;
    text-align: left;
  }
  th:first-child {
    padding-left: 10px;
    text-align: center;
  }
  th:last-child {
    padding-right: 10px;
  }
}
.table_row {
  cursor: pointer;
  &:hover td {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  &__currentUser {
    /**@todo I want to add a border around this row too but it will require better organisation of the prediction table styles and the leaderboard styles*/
    font-weight: 500;
  }
}
.line_row {
  hr {
    margin: 5px auto;
    width: 100%;
    border: 0px solid var(--quaternary-color);
    background-color: var(--quaternary-color);
  }
}
.position {
  text-align: center;
}
.position_diff {
  width: 25px;
  i {
    border: solid var(--secondary-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
}
.name_cell {
  display: flex;
  align-items: center;
  svg {
    margin-left: 5px;
    height: 15px;
  }
}
.perfect_positions {
  max-width: 92px;
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
}
.pos_change i {
  transform: rotate(225deg) translate(-1px, -1px);
  border-color: var(--success-color);
}
.neg_change i {
  transform: rotate(45deg) translate(-2px, -2px);
  border-color: var(--error-color);
}
.no_change i {
  border-width: 0 0 3px 0;
  padding: 1.5px 5px;
  transform: translateY(-4px);
  opacity: 0.2;
}
.small_print {
  display: flex;
  justify-content: space-between;
}
.page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  .button_con {
    display: flex;
    gap: 10px;
  }
  button {
    background-color: var(--primary-color);
    max-width: 130px;
  }
  .skip {
    max-width: 35px;
  }
}
.skeleton_table {
  padding: 51px 0 48px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: wait;
  max-width: 600px;
  &__row {
    height: 30px;
    background-color: rgba(var(--primary-color-values), 0.5);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateX(-100%);
      background-image: linear-gradient(
        45deg,
        rgba(var(--primary-color-values), 0) 0,
        rgba(var(--primary-color-values), 1) 30%,
        rgba(var(--primary-color-values), 1) 70%,
        rgba(var(--primary-color-values), 0)
      );
      animation: shimmer 2s infinite;
      content: "";
    }
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 800px) {
  .small_print {
    flex-direction: column;
    text-align: center;
  }
  .page_nav {
    button {
      max-width: 35px;
    }
    span {
      display: none;
    }
  }
}
@media (max-width: $small-mobile-menu-breakpoint) {
  .leaderboard {
    td,
    th {
      font-size: 14px;
    }
  }
}
@media (max-width: 345px) {
  .perfect_positions {
    display: none;
  }
  .skeleton_table {
    padding-top: 33px;
  }
  .accuracy {
    border-radius: 0 5px 5px 0;
  }
}
