@import "@styles/sass-variables.scss";

.select button {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  padding: 10px;
  font-size: 15px;
  width: 100%;
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  outline: 0;
  option:hover {
    background-color: var(--tertiary-color);
  }
  &[data-pressed] {
    background-color: var(--tertiary-color);
    border-radius: 0px;
    svg {
      transform: rotate(180deg);
    }
  }
  svg {
    color: var(--secondary-color);
    width: 20px;
    transition: 0.2s;
  }
}
.label {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 3px;
  display: block;
}
.margin_bottom {
  margin-bottom: 10px;
}
.popover {
  width: var(--trigger-width);
  border: 2px solid var(--secondary-color);
  padding: 3px;
  overflow-y: auto;
  background-color: var(--primary-color);
  &[data-placement="top"] {
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
  }
  &[data-placement="bottom"] {
    border-radius: 0 0 5px 5px;
    border-top: 0;
  }
}
.listBox {
  background-color: var(--primary-color);
  width: 100%;
}
.listBoxItem {
  outline: 0;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
  color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  &.selected {
    display: none;
  }
}
@media (max-width: $mobile-menu-breakpoint) {
  .mob_margin_bottom_top {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
