@import "@styles/sass-variables.scss";

.panel {
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 30px 30px 15px 30px;
  width: 100%;
  box-shadow: var(--box-shadow);
  max-width: 800px;
  margin: 0 auto 30px;
}
.panelBody {
  overflow: hidden;
}

@media (max-width: $tablet-menu-breakpoint) {
  .panel {
    padding: 15px 15px 1px 15px;
  }
}
